{
	"clientId": "get from discord developer portal and put here",
	"guildId": "get from Discord, copy the guild ID your developing the bot in, and put here",
	"token": "get from discord developer portal and put here"
}
